body {
    /* 背景色 */
    background-color: #FFCC99;
}

html {
   /* リンクでの移動時のヘッダーの高さ指定 */
    scroll-padding-top: 80px;
}

h3 {
    /* フォントサイズ */
    font-size: 20px;
}

.box1 {
    /* 中央揃え */
    text-align: center;
}

.img1 {
    /* 外側サイズ */
    padding-left: 50px;
    /* 内側サイズ */
    margin-top: -850px;
    margin-left: 600px;

    /* 枠線 */
    border: 6px solid #333;
}

.img2 {
    /* 外側サイズ */
    padding-left: 50px;
    /* 内側サイズ */
    margin-top: -600px;
    margin-left: 600px;

    /* 枠線 */
    border: 6px solid #333;
}

.img3 {
    /* 外側サイズ */
    padding-left: 50px;
    /* 内側サイズ */
    margin-top: -850px;
    margin-left: 600px;

    /* 枠線 */
    border: 6px solid #333;
}

.header1 {
    position: fixed;
    display: flex;
    /* 背景色 */
    background-color: #CCFF99;
    /* 内側サイズ */
    margin-left: 658.5px;
    margin-top: -17px;
}

.header2 {
    position: fixed;
    display: flex;
    /* 背景色 */
    background-color: #CCFF99;
    /* 内側サイズ */
    margin-left: 659px;
    margin-top: -17px;
    /* 外側サイズ */
    padding-right: 381.5px;
}

.box {
    /* 内側サイズ */
    margin-left: 10px;
}

.font1 {
    /* フォントサイズ */
    font-size: 22px;
}

.font2 {
    /* フォントサイズ */
    font-size: 18px;
}

.font3 {
    /* フォントサイズ */
    font-size: 40px;
}

.index1 {
    /* 内側サイズ */
    margin-top: -18px;
    margin-left: 20px;
}